<%- include('partials/header') %>

<div class="bg">
<div class="text centered">
    <div class="container">
        <div class="brand">
        <h1 class="brandName">Otirik Pizza Test</h1>
            <i class="fa-solid fa-pizza-slice fa-3x"></i>
        </div>
        <p>Authorizate to find your Pizza!</p>
        <hr>
        <div class="variety">
        <a class="btn btn-light" href="/register" role="button">Register</a>
            <i class="fa-solid fa-rotate"></i>
        <a class="btn btn-dark" href="/login" role="button">Login</a>
        </div>
    </div>
</div>
</div>

<%- include('partials/footer') %>